<!DOCTYPE html>
<html th:replace="~{layout/app :: layout('料金編集', ~{::content}, 'charge')}">
<div th:fragment="content">
  <div th:if="!${#strings.isEmpty(message)}" class="alert alert-success">
    <span th:text="${message}"></span>
  </div>
  <form th:action="@{/charge/save}" th:object="${charge}" method="POST">
    <input type="hidden" th:field="*{chargeId}" />
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="name">料金名</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" th:field="*{name}" maxlength="128" />
        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="amount">月額料金</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" th:field="*{amount}" />
        <span class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="startDate">適用開始日</label>
      <div class="col-sm-10">
        <input class="form-control" type="date" th:field="*{startDate}" name="joining_date" />
        <span class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="endDate">適用終了日</label>
      <div class="col-sm-10">
        <input class="form-control" type="date" th:field="*{endDate}" />
        <span class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm">
        <button class="btn btn-primary" type="submit">決定</button>
        <a class="btn btn-link" th:href="@{/charge/search}">キャンセル</a>
      </div>
      <div class="col-sm-auto">
        <a class="btn btn-danger" id="delete" th:href="@{/charge/delete/{id}(id=${chargeId})}">削除</a>
      </div>
    </div>
  </form>
</div>
</html>