<!DOCTYPE html>
<html th:replace="~{layout/app :: layout('加入者編集', ~{::content}, 'member')}">
<div th:fragment="content">
    <!--/*
        加入者情報編集画面
    */-->
    <div th:if="!${#strings.isEmpty(message)}" class="alert alert-success">
        <span th:text="${message}"></span>
    </div>
    <form th:action="@{/member/save}" th:object="${member}" method="POST">
        <input type="hidden" th:field="*{memberId}">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="mail">メールアドレス</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{mail}" maxlength="256">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="name">氏名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" maxlength="16">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="address">住所</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{address}">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="startDate">加入日</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{startDate}" name="joining_date">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="endDate">解約日</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{endDate}">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="paymentMethod">決済方法</label>
            <div class="col-sm-10">
                <select class="form-control" th:field="*{paymentMethod}">
                    <option value="1">クレジット</option>
                    <option value="2">銀行振込</option>
                </select>
            </div>
        </div>
        <!--/*-->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">適用料金</label>
            <div class="col-sm-10">
                <input type="checkbox" name="ryokin" value="00001" checked>基本料金</label>
                <div>
                    <input type="checkbox" name="ryokin" value="00002"> オプション料金A
                    <input type="date" name="ryokin_00002_start" id="ryokin_00002_start"> ～
                    <input type="date" name="ryokin_00002_end" id="ryokin_00002_end">
                </div>
            </div>
        </div>
        <!--*/-->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">決定</button>
                <a class="btn btn-link" th:href="@{/member/search}">キャンセル</a>
            </div>
        </div>
    </form>
</div>
</html>