<!DOCTYPE html>
<html th:replace="~{layout/app :: layout('料金検索', ~{::content}, 'charge')}">
<div th:fragment="content">
    <!--/*
    料金検索画面
  */-->
    <div th:if="!${#strings.isEmpty(message)}" class="alert alert-success">
        <span th:text="${message}"></span>
    </div>
    <form th:action="@{/charge/search}" th:object="${chargeSearchCondition}" method="POST">
        <!--/* 料金名 */-->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="name">料金名</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" th:field="*{name}" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="sortColName">表示順</label>
            <div class="col-sm-auto">
                <select class="form-control" th:field="*{sortColName}">
                    <option value="chargeId">料金ID</option>
                    <option value="name">料金名</option>
                    <option value="amount">月額料金</option>
                    <option value="startDate">運用開始日</option>
                    <option value="endDate">運用終了日</option>
                </select>
            </div>
            <div class="col-sm-auto">
                <select class="form-select" aria-label="Default select example" th:field="*{sortOrder}">
                    <option value="asc">昇順</option>
                    <option value="desc">降順</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="btn btn-primary" type="submit" value="検索" />
                <a class="btn btn-secondary" th:href="@{/charge/add}">新規作成</a>
            </div>
        </div>
    </form>
    <div class="md-12"></div>
</div>

</html>