<!DOCTYPE html>
<html th:replace="~{layout/app :: layout('加入者検索', ~{::content}, 'member')}">
<div th:fragment="content">
  <!--/*
    加入者情報検索画面
  */-->
  <div th:if="!${#strings.isEmpty(message)}" class="alert alert-success">
    <span th:text="${message}"></span>
  </div>
  <form th:action="@{/member/search}" th:object="${memberSearchCondition}" method="POST">
    <!--/* メールアドレス */-->
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="mail">メールアドレス</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" th:field="*{mail}" />
      </div>
    </div>

    <!--/* 氏名 */-->
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="name">氏名</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" th:field="*{name}" />
      </div>
    </div>
    <!--/* ここにテキストフォームを設置 */-->
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">表示順</label>
      <div class="col-sm-auto">
        <select class="form-control" th:field="*{sortColName}">
          <option value="memberId">加入者ID</option>
          <option value="mail">メールアドレス</option>
          <option value="name">氏名</option>
          <option value="address">住所</option>
          <option value="startDate">加入日</option>
          <option value="endDate">解約日</option>
          <option value="paymentMethod">支払方法</option>
        </select>
      </div>
      <div class="col-sm-auto">
        <select class="form-select" th:field="*{sortOrder}">
          <option value="asc">昇順</option>
          <option value="desc">降順</option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">決定</button>
        <a class="btn btn-secondary" th:href="@{/member/add}">追加</a>
      </div>
    </div>
  </form>
  <div class="md-12"></div>
</div>

</html>